---
import { siteConfig } from "../config";
const { title, subtitle, author, since } = siteConfig;
---
<header>
    <h1 class="site-title"><a href="/">{title}</a></h1>
    <h2 class="site-subtitle">{subtitle}</h2>
</header>